@source '../js/components/frontend/**/*.vue';
@source '../js/layouts/frontend/**/*.vue';
@source '../js/pages/Frontend/**/*.vue';
@source inline("text-{xs,sm,md,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl,8xl,9xl}");
@source inline("{sm:,}max-w-[{150,250,350}px]");

@theme static {
    --color-body: #fff;
    --color-header: var(--color-body);
    --color-primary: #C6A15B;
    --color-secondary: #1e1e1e;
    --color-checkout: #fff1ee;

    --color-accent: #fff1ee;
    --color-accent-hover: #f3e4e1;

    --color-page-cover: rgba(0,0,0,.7);
    --color-border-primary: #d8d8d8;
    --color-light: #e6e6e6;
    --color-strong: #616161;
    --color-link: var(--color-blue-400);
    --color-link-100: var(--color-blue-100);
    --color-link-200: var(--color-blue-200);
    --color-link-300: var(--color-blue-300);
    --color-link-400: var(--color-blue-400);
    --color-link-500: var(--color-blue-500);
    --color-link-600: var(--color-blue-600);
    --color-link-800: var(--color-blue-800);
    --color-link-hover: var(--color-blue-600);

    --color-no-image-bg: var(--color-white);
    --color-no-image-icon: var(--color-neutral-300);
}

@layer properties {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
    body {
        font-family: "Lato", sans-serif;
        color: #1c1c1c;
        @apply bg-body overflow-x-hidden;
    }

    .link-primary {
        @apply text-link-400 hover:text-link-600 transition-all underline;
    }
    .page-title {
        @apply text-2xl font-semibold my-2 py-2;
    }

    .flicking-camera {
        @apply items-stretch;
    }

    .breadcrumbs {
        .breadcrumb-item {
            a {
                @apply hover:text-black transition-colors;
            }

            &.last {
                @apply text-neutral-400;
            }
        }
    }

    .header--delete {
        @apply bg-header shadow;

        .navigation {
            .nav-category-link {
                @apply text-lg;
            }

            .nav-category {
                @apply py-1 px-4 text-gray-800 shadow-xl;
            }

            .nav-subcategory-link {
                @apply my-2 py-1 font-semibold text-gray-500 hover:text-black md:mx-2 transition-colors group-hover/subcategory:text-black;
            }

            .nav-subcategory-2-link {
                @apply my-2 py-1 text-gray-500 hover:text-black transition-colors md:mx-2;
            }
        }
    }

    body {

        .nav-panel  {
            @apply w-[calc(100vw-54px)] sm:w-full left-[calc(-1*(100vw-54px))] sm:left-0;
        }

        &.nav-open {
            overflow-y: hidden;

            .page-wrapper {
                left: calc(100vw - 54px)
            }
            .nav-panel {
                @apply left-0;
            }
        }
    }

    .filters-panel {
        @apply bg-white
    }

    .checkout {
        .checkout-section-title {
            @apply text-lg font-semibold mb-2;
        }
    }

    .carousel-button {
        @apply bg-white/60 hover:bg-white/70 text-gray-600 backdrop-blur-xs shadow rounded w-10 h-10 cursor-pointer flex items-center justify-center transition-all duration-200 hover:scale-110;
    }
    .footer-container {
        @apply bg-white mt-10;
    }

    .product-show {
        .section-title {
            @apply text-3xl my-6 py-6 border-b border-light;
        }
    }



}
@layer utilities {
    .prose { max-width: none; }
    .prose h1 { @apply text-xl sm:text-4xl leading-tight font-semibold; }
}
